@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fancy-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.fancy-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container-width {
  width: 90%;
  max-width: 1440px;
}

.gallery {
  border-radius: 0;
  width: 100svw;
  margin: 0;
}

@media (min-width: 768px) {
  .container-width {
    width: 90svw;
    max-width: 1440px;
  }
  .gallery {
    border-radius: 16px;
    width: 90svw;
    margin-left: 5svw;
    margin-right: 5svw;
  }
}

@media (min-width: 768px) {
  .container-width {
    width: 85svw;
    max-width: 1440px;
  }
  .gallery {
    border-radius: 16px;
    width: 85svw;
    margin-left: 7.5svw;
    margin-right: 7.5svw;
  }
}

.notshown {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s
}

.slide-left {
  transform: translate(-5vw, 0);
}

.slide-up {
  transform: translate(0, 10vh);
}

@media(prefers-reduced-motion) {
  .notshown {
    transition: none;
  }
}

.shown {
  opacity: 1;
  filter: none;
  transform: translate(0, 0) scale(1) !important;
}

.gallery-remote, .play-pause {
  backdrop-filter: blur(7px);
  background-color: rgba(209 213 219 / 0.7);
}

.gallery-remote-outer {
  transform: translate(0, 0) scale(0);
  transition: transform 0.5s;
  animation-timing-function: linear;
  position: sticky;
  bottom: 30px;
}

.dot {
  flex-grow: 0.001;
  transition: all 250ms linear;
  position: relative;
}

.dot::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  cursor: pointer;
}

progress {
  height: 0.75rem !important;
  vertical-align: top;
}

.gallery-remote > .grow {
  flex-grow: 1 !important;
  background-color: rgb(156 163 176 / 100% );
}

.gallery-remote > .grow > progress {
  cursor: default;
}

.play-pause > .block {
  display: block !important;
}

.gallery-outer {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.text-alt {
  font-family: 'Pangolin',serif;
}