@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
}

:root {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fancy-underline {
  cursor: pointer;
  position: relative;
}

.fancy-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.fancy-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container-width {
  width: 90%;
}

.gallery {
  border-radius: 0;
  width: 100svw;
  margin: 0;
  height: 320px;
  display: flex;
}

.gallery > div {
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 468px) {
  .gallery {
    height: 420px
  }
}

@media (min-width: 640px) {
  .gallery {
    height: 560px
  }
}

@media (min-width: 768px) {
  .gallery {
    height: 628px;

    border-radius: 16px;
    width: 85svw;
    margin-left: 7.5svw;
    margin-right: 7.5svw;
  }

  .container-width {
    width: 85svw;
  }
}

@media (min-width: 1024px) {
  .gallery {
    height: 680px;
  }
}

.gallery-outer {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.notshown {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s
}

.slide-left {
  transform: translate(-5vw, 0);
}

.slide-up {
  transform: translate(0, 10vh);
}

@media(prefers-reduced-motion) {
  .notshown {
    transition: none;
  }
}

.shown {
  opacity: 1;
  filter: none;
  transform: translate(0, 0) scale(1) !important;
}

.gallery-remote, .play-pause {
  backdrop-filter: blur(7px);
  background-color: rgba(209 213 219 / 0.7);
  transition: background-color linear 100ms;
}

.play-pause:hover {
  background-color: rgba(209 213 219 / 1);
}

.gallery-remote-outer {
  transform: translate(0, 0) scale(0);
  transition: transform 0.5s;
  animation-timing-function: linear;
  position: sticky;
  bottom: 30px;
}

.dot {
  flex-grow: 0.001;
  transition: all 250ms linear;
  position: relative;
}

.dot::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  cursor: pointer;
}

progress {
  height: 0.5rem !important;
  vertical-align: top;
}

.gallery-remote > .grow {
  flex-grow: 1 !important;
  background-color: rgb(156 163 176 / 100% );
}

.gallery-remote > .grow > progress {
  cursor: default;
}

.play-pause > .block {
  display: block !important;
}

.map {
  background-image: url('/map.png');
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 20px 20px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 20px 20px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 20px 20px rgba(255,255,255,1);
}

.map-dot {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 100%;
  border: #e84c05 solid 4px;
  outline: white solid 3px;
  outline-offset: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
}