@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
}

:root {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red: #ff5800;
  --yellow: #fca700;
}

.nav {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(0%) blur(17px);
  -webkit-backdrop-filter: saturate(0%) blur(15px);
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(0 0 0 / 8%);
  z-index: 500;
}

.fancy-underline {
  cursor: pointer;
  position: relative;
}

.fancy-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.fancy-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.glassy-button {
  --_x-motion: 0;
  --_y-motion: 0;
  --_motion-factor: 0.1;

  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0;
  border: 0;
  border-radius: 1rem;
  background-color: transparent;
  position: relative;
  outline: 0;
  transform: translate(0, 0);

  span {
    padding: 1rem 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: inherit;
    background-color: hsl(0 0% 100% / .0);
    backdrop-filter: blur(0px);
    transition:
      scale 200ms,
      translate 200ms,
      background-color 200ms,
      backdrop-filter 200ms;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 171 171' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.74' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      opacity: 0;
      transition: opacity 200ms;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    background-color: var(--red);
    transition:
          scale 200ms,
          translate 200ms;
  }

  &:hover,
  &:focus-visible {
    span {
      translate: 0 -0.5rem;
      background-color: hsl(0 0% 0% / .05);
      backdrop-filter: blur(5px);
      outline: 1px solid hsl(0 0% 0% / .2);

      &::before {
        opacity: 0.3;
      }
    }

    &::after {
      translate: 0 .125rem;
      scale: 0.95;
      animation: enter forwards 200ms;
    }
  }

  &:active {
    span {
      translate: 0 -0.25rem;
      background-color: hsl(0 0% 100% / .15);
      backdrop-filter: blur(10px);
    }

    &::after {
      translate: 0 .25rem;
      scale: 0.875;
    }
  }
}

@keyframes enter {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(
            calc(var(--_x-motion) * var(--_motion-factor) * -1),
            calc(var(--_y-motion) * var(--_motion-factor) * -1)
    );
  }
}

@keyframes exit {
  from {
    transform: translate(
            calc(var(--_x-motion) * var(--_motion-factor) * -1),
            calc(var(--_y-motion) * var(--_motion-factor) * -1)
    );
  }
  to {
    transform: translate(0, 0);
  }
}

.gallery {
  border-radius: 0;
  margin: 0;
  display: flex;
  position: relative;
}

.gallery-outer {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.animated {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s;
}

.slide-left {
  transform: translate(-55vw, 0);
  transition: transform 1s cubic-bezier(.01,.99,.22,1);
  transition-delay: 0.4s;
}
.slide-left-1 {
  transform: translate(-50vw, 0);
  transition: transform 1s cubic-bezier(.01,.99,.22,1);
  transition-delay: 0.5s;
}
.slide-left-2 {
  transform: translate(-50vw, 0);
  transition: transform 1s cubic-bezier(.01,.99,.22,1);
  transition-delay: 0.6s;
}
.slide-left-3 {
  transform: translate(-50vw, 0);
  transition: transform 1s cubic-bezier(.01,.99,.22,1);
  transition-delay: 0.7s;
}

.slide-up {
  transform: translate(0, 10vh);
}

.fade-in {
  opacity: 0;
  transform: none;
}

@media(prefers-reduced-motion) {
  .animated {
    transition: none;
  }
}

.shown {
  filter: none;
  transform: translate(0, 0) scale(1) !important;
  opacity: 1 !important;
}

.gallery-remote, .play-pause {
  backdrop-filter: blur(7px);
  background-color: rgba(209 213 219 / 0.7);
  transition: background-color linear 100ms;
}

.play-pause:hover {
  background-color: rgba(209 213 219 / 1);
}

.gallery-remote-outer {
  transform: translate(0, 0) scale(0);
  transition: transform 0.5s;
  animation-timing-function: linear;
  position: sticky;
  bottom: 30px;
}

.dot {
  flex-grow: 0.001;
  transition: all 250ms linear;
  position: relative;
}

.dot::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  cursor: pointer;
}

progress {
  height: 0.75rem !important;
  vertical-align: top;
}

.gallery-remote > .grow {
  flex-grow: 1 !important;
  background-color: rgb(156 163 176 / 100% );
}

.gallery-remote > .grow > progress {
  cursor: default;
}

.play-pause > .block {
  display: block !important;
}

.myContainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem/* 16px */;
  padding-left: 1rem/* 16px */;
}

@media (min-width: 640px) {
  .myContainer {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .myContainer {
  max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .myContainer {
    max-width: 980px;
  }
}

@media (min-width: 1280px) {
  .myContainer {
    max-width: 1100px;
  }
}


.text-md {
  font-size: 1.05rem;
  line-height: 1.25rem;
}